atlas==0.27.0
attrs==17.3.0
chardet==2.2.1
coverage==4.0
cssselect==0.9.1
decorator==3.4.2
dnf-langpacks==0.15.1
easydict==1.6
fros==1.1
humanize==0.5.1
iniparse==0.4
initial-setup==0.3.37
IPy==0.81
ipykernel==4.7.0
ipython==3.2.1
javapackages==4.6.0
Jinja2==2.8
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==5.2.0
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==1.1.0
langtable==0.0.34
Lasagne==0.2.dev1
lightdm-gtk-greeter-settings==1.2.0
lxml==3.4.4
MarkupSafe==0.23
matplotlib==1.4.3
mistune==0.6
networkx==1.9.1
ntplib==0.3.3
numpy==1.11.2
path.py==5.2
pexpect==3.1
pickleshare==0.7.4
pid==2.0.1
Pillow==3.0.0
pluggy==0.6.0
protobuf==3.0.0b2
pwquality==1.3.0
py==1.5.2
pycups==1.9.72
pycurl==7.19.5.1
Pygments==1.6
pygobject==3.18.0
pygpgme==0.3
pyinotify==0.9.6
PyIscsi==1.0
pykickstart==2.13
pyparsing==2.0.3
pyparted==3.10.7
pytest==3.3.1
python-augeas==0.5.0
python-dateutil==2.4.2
python-dmidecode==3.12.2
python-meh==0.43
python-systemd==230
pytz==2015.4
pyudev==0.17
pyxdg==0.25
PyYAML==3.11
pyzmq==14.7.0
request==0.0.22
requests==2.7.0
requests-file==1.4
requests-ftp==0.3.1
rpm-python==4.13.0rc1
scikit-image==0.11.3
scipy==0.18.1
seobject==0.1
sepolicy==1.1
setroubleshoot==1.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
slip==0.6.4
slip.dbus==0.6.4
sosreport==3.1
SQLAlchemy==1.0.14
SSSDConfig==1.13.1
tflearn==0.2.1
Theano==0.9.0.dev2
threadpool==1.3.2
tornado==4.1
traitlets==4.3.2
urllib3==1.10.4
utils==0.9.0
wcwidth==0.1.7
wsgilog==0.3.1
yumex-dnf==4.1.3
